body{
    background-color: #b9b8c7;
}
/* Titulo y barra de navegacion. */
.titulo {
    font-family: "Lato", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    padding: 5px;
    margin: 3px;
    background-color: #192a3d;
}
.titulo h1{
    color: aliceblue;
}