.container h3 {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: aliceblue;
    filter: drop-shadow(2px 4px 6px black);
}
.card_1{
    flex: 1;
    background-color: #101214;
    padding: 5px;
}
.card_2{
    flex: 2;
    background-color: #31394F;
    padding: 5px;
}